h1, h2, h3

  section &
    margin-top: (AIR/2)
    margin-bottom: (AIR/2)

  header > &, footer > &
    text-align: center
    line-height: HEADER_HEIGHT

h1
  font-size: FONT_SIZE_HUGE
h2
  font-size: FONT_SIZE_BIG
h3
  font-size: FONT_SIZE