@import "__cssmethods.styl"

/* DIMENSIONS */
HEADER_HEIGHT = 60px
FOOTER_HEIGHT = 60px
MODAL_WIDTH   = 280px
SECTION_PADDING = 5px
ASIDE_WIDTH = 256px

/* FONT */
FONT_SIZE_TINY          = 0.8rem
FONT_SIZE_LABEL         = 0.85rem
FONT_SIZE_SMALL         = 0.9rem
FONT_SIZE_NORMAL        = 1.0rem
FONT_SIZE_BIG           = 1.2rem

/* ANIMATIONS */
ROUTER_ANIMATION          = ease-in-out
ROUTER_ANIMATION_DURATION = 500ms
ASIDE_TRANSITION          = ease-in-out
ASIDE_TRANSITION_DURATION = 300ms



/* COLORS */
HEADER_BACKGROUND_COLOR = green
HEADER_FONT_COLOR = black
SECTION_BACKGROUND_COLOR = orange
SECTION_FONT_COLOR = black
FOOTER_BACKGROUND_COLOR = blue
FOOTER_FONT_COLOR = black

BUTTON_DEFAULT_BACKGROUND_COLOR = red
BUTTON_DEFAULT_FONT_COLOR = white
BUTTON_BORDER_RADIUS = 5px
