@import "__cssmethods.styl"

/* THEME COLORS */
THEME_COLOR = #2a51cd
THEME_SECONDARY_COLOR = #db0b14
DARK = #222
LIGHT = #EEE

/* FONT */
FONT_STYLE              = 'Exo', sans-serif
FONT_SIZE               = 16px
FONT_SIZE_TINY          = 0.8rem
FONT_SIZE_SMALL         = 0.9rem
FONT_SIZE_BIG           = 1.1rem
FONT_SIZE_HUGE          = 1.2rem

/* MARGINS AND PADDINGS */
AIR = 10px

/* ANIMATIONS */
ROUTER_ANIMATION = ease-in-out
ROUTER_ANIMATION_DURATION = 450ms

/* HEADER */
HEADER_HEIGHT = 45px
HEADER_BACKGROUND_COLOR = THEME_COLOR
HEADER_FONT_COLOR = DARK
HEADER_SHADOW = inset 0 0 15px darken(HEADER_BACKGROUND_COLOR, 50%)




/* SECTION */
SECTION_BACKGROUND_COLOR = white
SECTION_FONT_COLOR = invert(SECTION_BACKGROUND_COLOR)
SECTION_PADDING = AIR

/* FOOTER */
FOOTER_HEIGHT = HEADER_HEIGHT
FOOTER_BACKGROUND_COLOR = DARK
FOOTER_FONT_COLOR = LIGHT
FOOTER_BUTTONS_SHADOW = inset 0 0 35px darken(FOOTER_BACKGROUND_COLOR, 40%)

/* BUTTONS */
BUTTON_DEFAULT_BACKGROUND_COLOR = THEME_SECONDARY_COLOR
BUTTON_DEFAULT_FONT_COLOR = LIGHT
BUTTON_BORDER = 1px solid darken(BUTTON_DEFAULT_BACKGROUND_COLOR, 10%)
BUTTON_BORDER_RADIUS = (AIR/2)


/* INPUTS */
INPUT_BORDER_RADIUS = BUTTON_BORDER_RADIUS
INPUT_BORDER = 1px solid LIGHT



/* ASIDE */
ASIDE_WIDTH = 256px
ASIDE_TRANSITION = ease-in-out
ASIDE_TRANSITION_DURATION = 300ms
ASIDE_BACKGROUND_COLOR = DARK

/* ASIDE HEADER */
ASIDE_HEADER_HEIGHT = HEADER_HEIGHT
ASIDE_HEADER_BACKGROUND_COLOR = DARK
ASIDE_HEADER_FONT_COLOR = invert(ASIDE_HEADER_BACKGROUND_COLOR)
ASIDE_HEADER_SHADOW = inset 0 0 15px darken(ASIDE_BACKGROUND_COLOR, 50%)

/* ASIDE SECTION */
ASIDE_SECTION_BACKGROUND_COLOR = lighten(ASIDE_BACKGROUND_COLOR, 1%)
ASIDE_SECTION_FONT_COLOR = invert(ASIDE_SECTION_BACKGROUND_COLOR)
ASIDE_SECTION_PADDING = SECTION_PADDING

/* ASIDE FOOTER */
ASIDE_FOOTER_HEIGHT = FOOTER_HEIGHT
ASIDE_FOOTER_BACKGROUND_COLOR = DARK
ASIDE_FOOTER_FONT_COLOR = LIGHT
ASIDE_FOOTER_SHADOW = inset 0 0 15px darken(ASIDE_FOOTER_BACKGROUND_COLOR, 50%)







