input, button, select, textarea
  outline: none
  border: none

button
  vendor(border-radius, BUTTON_BORDER_RADIUS)
  background: BUTTON_DEFAULT_BACKGROUND_COLOR
  color: BUTTON_DEFAULT_FONT_COLOR
  border: BUTTON_BORDER_WIDTH solid BUTTON_BORDER_COLOR
  cursor: pointer
  padding: 10px

input, select, textarea
  vendor(border-radius, BUTTON_BORDER_RADIUS)
  display: block
  box-sizing: border-box
  padding: 5px
  width: 100%

.font
  font-size: FONT_SIZE_NORMAL
  &.big
    font-size: FONT_SIZE_BIG
  &.normal
    font-size: FONT_SIZE_NORMAL
  &.small
    font-size: FONT_SIZE_SMALL
  &.tiny
    font-size: FONT_SIZE_TINY

.margins
  margin: AIR
.margin-left
  margin-left: AIR
.margin-right
  margin-right: AIR
.margin-top
  margin-top: AIR
.margin-bottom
  margin-bottom: AIR