body > aside > section
  order: 2
  flex: 1
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
  background-color: ASIDE_SECTION_BACKGROUND_COLOR
  color: ASIDE_SECTION_FONT_COLOR
  padding: ASIDE_SECTION_PADDING