body > aside
  position: absolute
  height: 100%
  width: ASIDE_WIDTH
  display: -webkit-box
  display: -moz-box
  display: -webkit-flex
  display: flex
  -webkit-flex-direction: column
  -webkit-box-orient: vertical
  z-index: 0
  visibility: hidden

  &.active
    visibility: visible