body, body *
  margin: 0
  padding: 0

body, html
  vendor(perspective, 800px)
  vendor(transform-style, preserve-3d)
  font-family: FONT_STYLE
  // font-family: sans-serif
  background-color: black
  height: 100%
  width: 100%
  overflow: hidden
  font-size: 16px
