body > article
  position: absolute
  width: 100%
  height: 100%
  display: -webkit-box
  display: -moz-box
  display: -webkit-flex
  display: flex
  -webkit-flex-direction: column
  -webkit-box-orient: vertical
  z-index: 1
  visibility: hidden

  &.active
    visibility: visible
    &.aside
      vendor(transition, all ASIDE_TRANSITION_DURATION ASIDE_TRANSITION)
      &[data-aside="show"]
        vendor(transform, translateX(ASIDE_WIDTH))

    &:not([data-animation])
      box-shadow 0 0 35px #000
