body > article > header
  order: 1
  background: HEADER_BACKGROUND_COLOR
  height: HEADER_HEIGHT

  & > h1
    text-align: center
    line-height: HEADER_HEIGHT

  & > nav
    line-height: HEADER_HEIGHT
    position: absolute
    top: 0


    &.left
      left: 0

    &.right
      right: 0

    & > button
      height: HEADER_HEIGHT
      background: none
      font-size: FONT_SIZE_BIG
