body > aside > header
  order: 1
  background: ASIDE_HEADER_BACKGROUND_COLOR
  height: ASIDE_HEADER_HEIGHT
  box-shadow ASIDE_HEADER_SHADOW
  color: ASIDE_HEADER_FONT_COLOR


  & > h1
    text-align: center
    line-height: ASIDE_HEADER_HEIGHT

  & > nav
    line-height: HEADER_HEIGHT
    position: absolute
    top: 0

    &.left
      left: 0

    &.right
      right: 0

    & > button
      height: HEADER_HEIGHT
      background: none
      font-size: FONT_SIZE_BIG
      border: none
