input, select
  vendor(border-radius, INPUT_BORDER_RADIUS)
  border: INPUT_BORDER
  height: 30px
  width: 100%
  display: block
  box-sizing: border-box
  font-family: inherit
  padding-left: 1em
  background: none

  form > &
    margin-top: 5px
    margin-bottom: 10px
