section
  order: 2
  flex: 1
  overflow-y: scroll
  -webkit-overflow-scrolling: touch

  &:not(.active)
    display: none

  article > &
    background-color: SECTION_BACKGROUND_COLOR
    color: SECTION_FONT_COLOR
    padding: SECTION_PADDING

  aside > &
    background-color: ASIDE_SECTION_BACKGROUND_COLOR
    color: ASIDE_SECTION_FONT_COLOR
    padding: ASIDE_SECTION_PADDING
