body, html
  vendor(perspective, 1000)
  vendor(transform-style, preserve-3d)
  font-family: FONT_STYLE
  background-color: black
  height: 100%
  width: 100%
  overflow: hidden
  font-size: FONT_SIZE


.font
  font-size: FONT_SIZE_NORMAL
  &.big
    font-size: FONT_SIZE_BIG
  &.normal
    font-size: FONT_SIZE_NORMAL
  &.small
    font-size: FONT_SIZE_SMALL
  &.tiny
    font-size: FONT_SIZE_TINY


.margins
  margin: AIR
.margin-left
  margin-left: AIR
.margin-right
  margin-right: AIR
.margin-top
  margin-top: AIR
.margin-bottom
  margin-bottom: AIR
